// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


@font-face {
	font-family: 'Callout';
	src: url('../assets/fonts/AccelaCallout-400.woff');
	font-weight: normal;
}

@font-face {
	font-family: 'Callout-Mono';
	src: url('../assets/fonts/AccelaCalloutMono-400.woff');
	font-weight: normal;
}
@font-face {
	font-family: 'OpenSans-Light';
	src: url('../assets/fonts/OpenSans-Light.ttf');
	font-weight: lighter;
}

@font-face {
	font-family: 'OpenSans';
	src: url('../assets/fonts/OpenSans-Regular.ttf');
	font-weight: normal;
}

@font-face {
	font-family: 'OpenSans-Bold';
	src: url('../assets/fonts/OpenSans-Bold.ttf');
	font-weight: bold;
}

@font-face {
	font-family: 'OpenSans-Semibold';
	src: url('../assets/fonts/OpenSans-Semibold.ttf');
	font-weight: bold;
}

@font-face {
	font-family: 'league-gothic';
	src: url('../assets/fonts/LeagueGothic-Regular.woff');
	font-weight: bold;
}

// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";

// Variables
// Color
$white: #fff;
$gray-light: #f2f2f2;
$gray-medium: #dadada;
$gray-dark: #414A57;
$blue: #4078c0;
// Corporate Colors
$presidential: #002C76;
$congress: #0755A7;
$state: #17A1D1;
$hometown: #B1DFF0;
$avenue: #E9EFF6;
$grandstand: #EE7125;
$grandstand-light: #FFEFE6;
$grandstand-dark: #A03C00;
$midday: #FFFFFF;
$midnight: #000000;
$midnightAlt: #201F22;
$nightfall: #414A56;
$dusk: #9696A1;
$dawn: #E7E5E4;
$daybreak: #F9FAFB;
$yea-superlight: #EFFFF9;
$yea-light: #A1EED2;
$yea-medium: #2EB383;
$yea-dark: #23653D;
$yea-text: #16492B;
$nay-superlight: #FFF8FA;
$nay-light: #FDDCE5;
$nay-medium: #FF5B76;
$nay-dark: #A52652;
$nay-text: #7D1700;
$presidentialHover: #00123D;
$congressHover: #003E87;
$stateHover: #008CBB;
$hometownHover: #A1D3E6;
$avenueHover: #D6E4F0;
$grandstandHover: #D96219;
$midnightHover: #2D343E;
$nightfallHover: #2F363F;
$duskHover: #838290;
$dawnHover: #C9C7CA;
$daybreakHover: #EEEFF2;
$whiteHover: #F7F6F8;
$yeaLightHover: #82D4B6;
$yeaMediumHover: #28A26D;
$yeaDarkHover: #17532F;
$nayLightHover: #EEB9C8;
$nayMediumHover: #F34063;
$nayDarkHover: #81193D;

$toolbar-background: #000;

ion-header {
	.header{
		font-size: 2rem;
		font-family: "OpenSans-Semibold" !important;
		background-color: #000;
		color: white;
	}
	
}